body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    margin: auto;
    flex: auto;
}

ul {
    list-style: none;
    display: flex;
    gap: 8px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.header {
    display: flex;
    background-color: #1f2937;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    font-size: 24px;
    color: #f9faf8;
    padding: 0 200px;
}

.hero {
    display: flex;
    background-color: #1f2937;
    align-items: center;
    flex: 1;
    color: #f9faf8;
    padding: 60px 200px;
    gap: 20px;
}

.hero-main-text {
    display: flex;
    font-size: 48px;
    font-weight: bold;
    flex-direction: column;
    color: #f9faf8;
    max-width: 50%;
}

.hero-sub-text {
    font-size: 18px;
    font-weight: normal;
}

.signup-button {
    background-color: #3882f6;
    color: white;
    border: none;
    padding: 6px 30px;
    border-radius: 4px;
    margin-top: 10px;
    cursor: pointer;
}

.hero-img-container {
    display: flex ;
    flex: 1 1 auto;
    background-color: gray;
    justify-content: center;
    align-items: center;
    text-wrap: nowrap;
    padding: 100px;
}

.info-title {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: bolder;
    padding: 30px 0px;
}

.info-container {
    display: flex;
    justify-content: center;
    color: #1f2937;
    justify-content: center;
    align-items: center;
    gap: 75px;
    padding-bottom: 60px;
}

.info {
    max-width: 150px;
    text-align: center;
}

.box {
    background-color: white;
    color: white;
    padding: 75px;
    border-color: #3882f6;
    border-radius: 8px;
    margin-bottom: 15px;
}

.quote-container {
    display: flex;
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    padding: 150px;
    justify-content: center;
    align-items: center;
}

.quote {
    max-width: 850px;
}

.quote-author {
    font-weight: bold;
    text-align: end;
    font-style: normal;
    font-size: 24px;
}

.banner-container {
    display: flex;
    background-color: #f9faf8;
    justify-content: center;
    align-items: center;
    padding: 75px 150px;
}

.banner {
    display: flex;
    background-color: #3882f6;
    padding: 40px 100px;
    border-radius: 8px;
    text-align: left;
    color: #e5e7eb;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}

.banner-main-text {
    font-weight: bold;
}

.banner-signup-button {
    background-color: #3882f6;
    color: white;
    border: 1px solid #f9faf8;
    padding: 6px 30px;
    border-radius: 4px;
    cursor: pointer;
}